@import url('https://fonts.googleapis.com/css2?family=Anta&family=Jacquarda+Bastarda+9&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Permanent+Marker&family=Roboto+Slab:wght@100..900&display=swap');

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: "Roboto Slab", serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #FFF5EB;
    border: 5px solid #D21312;
    height: 10%;
}

#content {
    height: 90%;
}

#image-container {
    background-image: url('../src/chinese_food.jpg');
    height: 100%;
    background-size: cover;
}

h1 {
    flex: 3;
    color: #064420;
    padding-left: 30px;
}

#buttons {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

}

button {
    outline: 0;
    border: 0;
    cursor: pointer;
    text-decoration: none;
    position: relative;
    color: #000;
    background: #FFF5EB;
    line-height: 30px;
    border-radius: 40px;
    padding: 20px;
    font-size: 25px;
    font-weight: 600;
    box-shadow: rgb(255, 198, 0) -2px -2px 0px 2px, rgb(246, 84, 84) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
    transition: all 0.2s;

    :hover {
        box-shadow: rgb(246, 84, 174) -2px -2px 0px 2px, rgb(255, 198, 0) 0px 0px 0px 4px, rgba(0, 0, 0, 0.05) 0px 0px 2px 7px;
        transform: scale(1.01);
    }

}

#image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-overlay {
    height: 150px;
    background-color: rgba(250, 250, 244, 0.952);
    border-radius: 12px;
    text-align: center;
    padding: 10px;
}

p {
    font-size: 1.2rem;
    color: #13005A;
}

#food-container {
    padding-top: 30px;
    background-color: #ebebcd;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.food-card {
    background-color: #b51f09;
    text-align: center;
    height: 300px;
    width: 500px;
    border: 1px solid black;
    border-radius: 12px;
}

.food-rows {
    display: flex;
    gap: 80px;
}

.food-card>img {
    padding-top: 20px;
    height: 70%;
    width: 80%;
}

.food-card>p {
    color: white;
}

#about-page {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ebebcd;
}

#about-container {
    display: flex;
    height: 800px;
    width: 800px;
    align-items: center;
    background-color: #b51f09;
    border-radius: 12px;


}

#about-container>img {
    padding: 20px;
}

#about-container p {
    color: white;
}

#visit-page {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebcd;

}

.visit-row {
    text-align: center;
}